# GUI Framework
PyQt5

# ONNX Support for PyTorch
onnx
onnxruntime

# PyTorch and related
torchmetrics

# Other common dependencies (optional but recommended)
numpy
pillow
tqdm
scikit-learn
matplotlib
seaborn
GPUtil

